#First, please put the full path to the summary statistics that you want to use to perform the fine-mapping.
/maps/projects/kilpelainen-AUDIT/people/zlc436/IR_GSEM_2025/output/1_curated_gwas/fiadjbmi_curated.txt
#Now, please add the name of your job:
klk1_fiadjbmi
#Now, please put the full path to the file with the regions that you want to perform fine-mapping with:
/maps/projects/kilpelainen-AUDIT/people/zlc436/IR_GSEM_2025/review/review_output/4_colocalization_and_gtex_checks/klk1_analyses/all_loci/all_ir_loci.txt
#Finally, add the working directory:
/maps/projects/kilpelainen-AUDIT/people/zlc436/IR_GSEM_2025/review/review_output/4_colocalization_and_gtex_checks/klk1_analyses/all_loci/
#Want to perform fine-mapping with annotations?
NO