#First the input data:
/maps/projects/kilpelainen-AUDIT/people/zlc436/IR_GSEM_functional_annotation/output/1_novel_ir/1_data_4_clumping/ir_vs_deforest.txt
#Now the ID of your files:
ir_vs_deforest
#Now the output:
/maps/projects/kilpelainen-AUDIT/people/zlc436/IR_GSEM_functional_annotation/output/1_novel_ir/2_clumped_data/clumped_data
#Now the working directory:
/maps/projects/kilpelainen-AUDIT/people/zlc436/IR_GSEM_functional_annotation/output/1_novel_ir/2_clumped_data/qsub_files
#Now the main p-value threshold that you want to use:
1e-06
#Now the p-value for secondary signals:
1
#Finally, the rsq threshold that you want to use:
0.01
#Now the distance in kb:
1000


