#First, please put the full path to the summary statistics that you want to use to perform the fine-mapping.
/maps/projects/kilpelainen-AUDIT/people/zlc436/IR_GSEM_2025/output/2_mv_gwas/fiadjbmi_hdl_tg_common_dwls_curated.txt
#Now, please add the name of your job:
all_282_ir_loci_2025
#Now, please put the full path to the file with the regions that you want to perform fine-mapping with:
/maps/projects/kilpelainen-AUDIT/people/zlc436/IR_GSEM_2025/output/8_fine_mapping/all_loci/all_ir_loci.txt
#Finally, add the working directory:
/maps/projects/kilpelainen-AUDIT/people/zlc436/IR_GSEM_2025/output/8_fine_mapping/all_loci
#Want to perform fine-mapping with annotations?
NO